.curved-text-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.straight-text {
  font-size: 24px;
}

.char-container {
  position: absolute;
  top: 0;
  left: 50%;
  height: 200px; /* This should match the radius in the JS file */
  font-size: 24px;
  transform-origin: bottom center;
}

.char-itself {
  display: block;
  transform: translateY(-100%); /* Move the character up to the circumference */
  /* To center the character itself on the line */
  margin: 0 -0.5em;
}
